.download {
  padding-top: 40px;
  padding-bottom: 40px;
}
.container {
}
.download__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.download__item {
  margin: 10px;
  max-width: 600px;
  min-height: 216px;
  width: 100%;
  padding: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  &--download1 {
    background-image: url("/img/download4.jpg");
    color: #004b93;
  }
  &--download1 .download__link {
    border-color: #004b93;
  }
  &--downlaod2 {
    background-image: url("/img/download3.jpg");
    color: #fff;
  }
  &--downlaod3 {
    background-image: url("/img/download1.jpg");
    color: #fff;
  }

  &--downlaod4 {
    background-image: url("/img/download2.jpg");
    color: #004b93;
  }
  &--downlaod4 .download__link {
    border-color: #004b93;
  }
}
.download__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: 0px;
}
.download__link {
  display: inline-block;
  vertical-align: baseline;
  border: 2px solid rgb(255, 255, 255);
  // color: rgb(255, 255, 255);
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  padding: 12px 18px;
}
