.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
.header__logo {
  margin-right: 10px;
}
.header__top {
  background-color: #004b93;
  padding: 10px 0px;
}
.header__top-list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__top-item {
  border-right: 2px solid #346797;
  &:last-child {
    border: none;
    margin-right: 0;
  }
}
.header__top-item--active {
}
.header__top-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0px 10px;
  letter-spacing: 0.2px;
}

// header botttom

.header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__bottom {
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
.header__bottom-form {
  display: flex;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  height: 36px;
}
.header__bottom-form-input {
  outline: none;
  border: none;
  padding: 10px;
}
.header__bottom-right {
  display: flex;
}
.header__bottom-right-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-left: 1px solid #ddd;
  width: 36px;
  outline: none;
}
.header__bottom-right-search-img {
}
.header__bottom-main {
  display: flex;
  align-items: center;
}
.header__toggler {
  display: none;
}

@include responsive(1150) {
  .header__top {
    display: none;
  }
  .header__bottom-right {
    display: none;
  }
}
@include responsive(630) {
  .header--open .header__bottom-main {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgb(248, 248, 248);
  }
  .header__bottom-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__bottom-form {
    margin: 0;
    margin-bottom: 10px;
  }
  .header--open .header__toggler {
    background-image: url("../../img/times-solid.svg");
  }
  .header__bottom-main {
    display: none;
  }
  .header__toggler {
    display: block;
    border: none;
    outline: none;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url("../../img/bars-solid.svg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-position 0.2s ease;
  }
}
