.language {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
  height: 36px;
}
.language__img {
  display: inline-block;
  vertical-align: baseline;
}
.language__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  &--active {
    background-color: #ddd;
  }
}
// @include responsive(850) {
//   .language {
//     display: none;
//   }
// }
// @include responsive(630) {
//   .language {
//     display: block;
//   }
// }
