.nav {
  margin-right: 10px;
}
.nav__list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.nav__item {
  position: relative;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.nav__item:hover .nav__sub-list {
  display: block;
}
.nav__item--active {
}
.nav__link {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 5px 10px;
  &:hover {
    opacity: 0.8;
  }
}
.nav__sub-list {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
.nav__sub-item {
}
.nav__sub-link {
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: #222;
  white-space: nowrap;
}
.nav__sub-link:hover {
  background-color: #d1d2d3;
}

@include responsive(900) {
  .nav__link {
    font-size: 18px;
  }
}
@include responsive(630) {
  .nav {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .nav__list {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
  .nav__item {
    margin: 0;
  }
  .nav__link {
    font-size: 20px;
    width: 100%;
  }
}
