.news {
  padding-top: 50px;
  padding-bottom: 50px;
}
.news__title {
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  font-size: 42px;
  line-height: 42px;
  font-weight: 300;
  color: #004b93;
}
.news__title-mark {
  font-weight: 700;
}
.news__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.news__item {
  max-width: 380px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  margin: 15px;
}
.news__link {
  display: block;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: #004b93;
  &:hover {
    background-color: #0057a8;
  }
  & .news__item-desc {
    color: #ffffff;
  }
}
.news__item-info {
  padding: 10px;
}
.news__item-desc {
  color: #222;
  font-size: 18px;
}
.news__item-img {
  object-fit: cover;
  display: inline-block;
  vertical-align: baseline;
}
@include responsive(900) {
  .news__item-img {
    width: 100%;
    height: 320px;
  }
  .news__item {
    margin-left: 0;
    margin-right: 0;
    max-width: 560px;
  }
  .news__item-desc {
    font-size: 20px;
  }
} ;
